<div class="landing-container">
  <h1>Welcome to the D&D Campaign Manager</h1>
  <p>Manage your campaigns with ease and generate encounters on the fly!</p>
  <button routerLink="/about">Learn More</button>
</div>
<div class="navigation">
  <h2>Navigation</h2>
  <a routerLink="/" target="_blank" class="button-link">Home</a>
  <a routerLink="/about" target="_blank" class="button-link">About</a>
  <a routerLink="/campaigns" target="_blank" class="button-link">Campaigns</a>
  <a routerLink="/new-campaign" target="_blank" class="button-link">Add New Campaign</a>
  <a routerLink="/encounter-generator" target="_blank" class="button-link">Encounter Generator</a>
  <a routerLink="/achievements" target="_blank" class="button-link">Achievements</a>

</div>
